
@model freelance.Models.Post
@{
    ViewBag.Title = "CreateNewPost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}

<div class="addPostBody">
    <div class="createPost" id="app">
        <div class="add-product" :class="{'open': formOpen}">
            <div class="button-copy" v-show="!formOpen" @@click="formOpen = true">Add Product</div>
            <form class="createPostForm">

                <div class="radioform">

                    <div class="inputGroup">
                        <input id="radio1" name="radio" type="radio" />
                        <label for="radio1">Fixed</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio2" name="radio" type="radio" />
                        <label for="radio2">Houly</label>
                    </div>
                </div>

                <div class="form--field">
                    <label>Product Price *</label>
                    <span class="form--price">$</span>
                    <input type="text" class="form--element" name="price" v-model="productData.price" placeholder="Price" required="" min="0" max="500" pattern="\d+(\.\d{2})?">
                </div>
                <div class="form--field">
                    <label>Product Description</label>
                    <textarea class="form--element textarea" v-model="productData.description" placeholder="Description"></textarea>
                </div>

                <button type="submit" class="submit-button">Add Product</button>
                <div class="cancel"><span @@click="cancel()">Cancel</span></div>
            </form>
        </div>
    </div>
</div>
