
@model freelance.Models.Post
@{
    ViewBag.Title = "CreateNewPost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}


<img class="wave" src="~/img/wave.png">
<div class="container">
    <div class="img">
        <img src="~/img/bg.svg">
    </div>
    <div class="login-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <img src="~/img/avatar.svg">
            <h2 class="title">Create Post <i class="fas fa-plus"></i></h2>
            <div class="input-div one">
                <div class="form">

                    <div class="inputGroup">
                        <input id="radio1" name="radio" type="radio" />
                        <label for="radio1">Yes</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio2" name="radio" type="radio" />
                        <label for="radio2">No</label>
                    </div>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>post type</h5>
                    <input type="text" class="input">
                </div>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Message is required">
                <textarea class="input1" name="message" placeholder="Message"></textarea>
                <span class="shadow-input1"></span>
            </div>
            <input type="submit" class="btn" value="publish">
        }
    </div>
</div>
<script type="text/javascript" src="~/Scripts/js/main.js"></script>
