
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/StartView.cshtml";
}   
<link href="~/Content/css/PostsCard.css" rel="stylesheet" />

    <div class="search-wrapper" style="top:5%">
        <div class="input-holder" >
            <input type="text" class="search-input" id="postsSearch" placeholder="Type to search" />
            <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
        </div>
        <span class="close" onclick="searchToggle(this, event);"></span>
    </div>

 <div class="card_container">
        <div class="card">
            <div class="description">
                <h2>Classic Peace Lily</h2>
                <h4>Popular House Plant</h4>
                <h1>$18</h1>
                <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                <button>Add to Cart</button>
                <button>Wishlist</button>
            </div>
        </div>

        <div class="card">
            <div class="description">
                <h2>Classic Peace Lily</h2>
                <h4>Popular House Plant</h4>
                <h1>$18</h1>
                <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                <button>Add to Cart</button>
                <button>Wishlist</button>
            </div>
        </div>


        <div class="card">
            <div class="description">
                <h2>Classic Peace Lily</h2>
                <h4>Popular House Plant</h4>
                <h1>$18</h1>
                <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                <button>Add to Cart</button>
                <button>Wishlist</button>
            </div>
        </div>
    </div>