@model w.Models.LoginRegisterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}

<div class="search-wrapper" style="top:5%">
    <div class="input-holder">
        <input type="text" class="search-input" id="postsSearch" placeholder="Type to search" />
        <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
    </div>
    <span class="close" onclick="searchToggle(this, event);"></span>
</div>
@foreach (var item in Model.post)
{
    <div class="card_container">
        <div class="card">
            <div class="description">
                <h2>@Html.DisplayFor(model => item.ClientName)</h2>
                <h4>@Html.DisplayFor(model => item.postTime)</h4>
                <h1>$@Html.DisplayFor(model => item.budget)</h1>
                <p>@Html.DisplayFor(model => item.JobDescription)</p>
                <button>Add proposal</button>
                <button>Save Post</button>
            </div>
        </div>
    </div>
}