<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="Allheader">
        <h1>Freelancer Page</h1>
    </header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            @Html.Partial("_WallLogin")
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="Allfooter"> all © copyrights reserved</footer>

</body>
</html>
