@model IEnumerable<freelance.Models.Admin> 
@{
    ViewBag.Title =  "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script>
    document.getElementById("AllMemberBTN").classList.add("active");
</script>
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm col-md col-lg col-xl tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">MEMBER NAME</th>
                                <th scope="col">MEMBER PHONE NUMBER</th>
                                <th scope="col">MEMBER EMAIL</th>
                                <th scope="col">MEMBER TYPE</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="tm-product-name">@Html.DisplayFor(Model => item.Name)</td>
                                    <td>@Html.DisplayFor(Model => item.Phone)</td>
                                    <td>@Html.DisplayFor(Model => item.Email)</td>
                                    <td>@Html.DisplayFor(Model => item.UserType)</td>
                                    <td>
                                        <!--<i  class="far fa-trash-alt tm-product-delete-icon"></i>-->
                                        <a class="btn btn-primary btn-sm" ><span class="far fa-trash-alt tm-product-delete-icon"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="add-product.html"
                   class="btn btn-primary btn-block text-uppercase mb-3">Add new Member</a>
            </div>
        </div>

    </div>
</div>